# Core
fastapi
uvicorn
pymysql
pymongo
mysql-connector-python
python-dotenv
pydantic
SQLAlchemy


# NLP and ML (optional for later)
spacy
scikit-learn
pandas
numpy
alembic

# API & Requests
requests

# Dev tools
Jupyter


